<!--BANNER-->
<section>
    <div class="lgx-banner lgx-banner4">
        <div class="lgx-banner-style">
            <div class="lgx-inner lgx-inner-fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                            <img src="/assets/img/rockies-2020@4x.png" style="margin-top:-4.5rem;margin-bottom:5rem;" alt="Extra Life YYC Rockies Game Day Event">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="lgx-banner-info-area">
                                <div class="lgx-banner-info lgx-banner-info-homeone"> <!--lgx-banner-info-center lgx-banner-info-black lgx-banner-info-big lgx-banner-info-bg-->
                                    <h3 class="subtitle">Nov. 7 2pm - Nov. 8 2pm</h3>
                                    <h2 class="title">YYC & South AB Game Day<span><b>2</b><b>0</b><b>2</b><b>0</b></span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </div>
</section>
<!--BANNER END-->


    <!--countdown-->
    <section>
        <div id="lgx-countdowns" class="lgx-countdowns lgx-countdowns-banner-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="lgx-countdown-area lgx-countdown-area-squre lgx-countdowns-banner-bottom">
                            <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                            <div id="lgx-countdown" data-date="2020/11/7"></div>
                        </div>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </div>
    </section>
    <!--countdown END-->