<!--REGISTRATION-->
<section>
    <div id="lgx-registration" class="lgx-registration"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-registration-area"> <!--lgx-registration-area-nogap lgx-registration-area2 lgx-registration-area3 "-->
                            <div class="lgx-single-registration">
                                <div class="lgx-single-registration-inner">
                                    <a class="icon" href="#"><img src="assets/img/icons/4.png" alt="ticket"/></a>
                                    <div class="single-top">
                                        <h3 class="title">Basic Pass</h3>
                                        <h4 class="price"><i>$</i>59</h4>
                                        <p>Price Excluding 20% VAT</p>
                                    </div>
                                    <div class="single-bottom">
                                        <ul class="list-unstyled list">
                                            <li>Regular Seating</li>
                                            <li>Comfortable Seat</li>
                                            <li>Coffee Break</li>
                                            <li>One Workshop</li>
                                            <li>Certificate</li>
                                        </ul>
                                        <a class="lgx-btn" href="#"><span>Buy Ticket</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="lgx-single-registration recommended">
                                <div class="lgx-single-registration-inner">
                                    <a class="icon" href="#"><img src="assets/img/icons/3.png" alt="ticket"/></a>
                                    <div class="single-top">
                                        <h3 class="title">Standard Pass</h3>
                                        <h4 class="price"><i>$</i>89</h4>
                                        <p>Price Excluding 20% VAT</p>
                                    </div>
                                    <div class="single-bottom">
                                        <ul class="list-unstyled list">
                                            <li>Regular Seating</li>
                                            <li>Comfortable Seat</li>
                                            <li>Coffee Break</li>
                                            <li>One Workshop</li>
                                            <li>Certificate</li>
                                        </ul>
                                        <a class="lgx-btn" href="#"><span>Buy Ticket</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="lgx-single-registration">
                                <div class="lgx-single-registration-inner">
                                    <a class="icon" href="#"><img src="assets/img/icons/2.png" alt="ticket"/></a>
                                    <div class="single-top">
                                        <h3 class="title">Golden Pass</h3>
                                        <h4 class="price"><i>$</i>99</h4>
                                        <p>Price Excluding 20% VAT</p>
                                    </div>
                                    <div class="single-bottom">
                                        <ul class="list-unstyled list">
                                            <li>Regular Seating</li>
                                            <li>Comfortable Seat</li>
                                            <li>Coffee Break</li>
                                            <li>One Workshop</li>
                                            <li>Certificate</li>
                                        </ul>
                                        <a class="lgx-btn" href="#"><span>Buy Ticket</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--REGISTRATION END-->