<!--SPEAKERS-->
<section>
    <div id="lgx-speakers" class="lgx-speakers lgx-speakers3">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading">
                            <h2 class="heading">Who's Hosting</h2>
                            <h3 class="subheading">Our hosts will be your guides through game day on both Twitch and Discord.</h3>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
                <div class="row">
                    {% for item in site.data.speakers %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="lgx-single-speaker">
                            <figure>
                                <a class="profile-img" href="">{% if item.image %}<img src="{{ item.image }}" alt="Speaker"/>{% else %}<img src="http://placehold.it/800x860" alt="Speaker"/>{% endif %}</a>
                                <figcaption>
                                    <div class="social-group">
                                        {% if item.twitch %}<a class="sp-tw" href="{{ item.twitch }}"><i class="fa fa-twitch"></i></a>{% endif %}
                                        {% if item.facebook %}<a class="sp-fb" href="{{ item.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
                                        {% if item.instagram %}<a class="sp-insta" href="{{ item.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
                                        {% if item.twitter %}<a class="sp-in" href="{{ item.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
                                    </div>
                                    <div class="speaker-info">
                                        <h3 class="title">{{ item.name }}</h3>
                                        <h4 class="subtitle">{{ item.position }}</h4>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!--//.ROW-->
                <div class="section-btn-area">
                    <button type="button" class="lgx-btn lgx-btn-big" data-toggle="modal" data-target="#myModal">Apply to Host</button>
                </div>
                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h3 class="modal-title">Apply to Become a Host</h3>
                        <p>We would love for you to help us host our 24 hour game day. Hosts need to be a resident of Southern Alberta and have an active twitch account.</p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="https://formspree.io/xyybykqd" method="POST" class="was-validated">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" id="email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="twitch" placeholder="Your Twitch" name="twitch" id="twitch" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Your Message" name="message" id="message" required></textarea>
                                </div>
                          
                            <!-- your other form fields go here -->
                          
                            <button type="submit">Send</button>
                          </form>
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                
                    </div>
                    </div>
                </div>
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
    </div>
</section>
<!--SPEAKERS END-->