   <!--News-->
   <section>
    <div id="lgx-news" class="lgx-news">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading">
                            <h2 class="heading">From Our Blog</h2>
                            <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="lgx-single-news">
                            <figure>
                                <a href="news-single.html"><img src="http://placehold.it/1144x690" alt=""></a>
                            </figure>
                            <div class="single-news-info">
                                <div class="meta-wrapper">
                                    <span>April 25, 2021</span>
                                    <span>by <a href="#">Riazsagar</a></span>
                                    <span><a href="#">Design</a></span>
                                </div>
                                <h3 class="title"><a href="news-single.html">Brooklyn Beta was the most important conferen best tristique</a></h3>
                                <a class="lgx-btn lgx-btn-white lgx-btn-sm" href="#"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="lgx-single-news">
                            <figure>
                                <a href="news-single.html"><img src="http://placehold.it/1144x690" alt=""></a>
                            </figure>
                            <div class="single-news-info">
                                <div class="meta-wrapper">
                                    <span>April 25, 2021</span>
                                    <span>by <a href="#">Riazsagar</a></span>
                                    <span><a href="#">Design</a></span>
                                </div>
                                <h3 class="title"><a href="news-single.html">Brooklyn Beta was the most important conferen best tristique</a></h3>
                                <a class="lgx-btn lgx-btn-white lgx-btn-sm" href="#"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="lgx-single-news">
                            <figure>
                                <a href="news-single.html"><img src="http://placehold.it/1144x690" alt=""></a>
                            </figure>
                            <div class="single-news-info">
                                <div class="meta-wrapper">
                                    <span>April 25, 2021</span>
                                    <span>by <a href="#">Riazsagar</a></span>
                                    <span><a href="#">Design</a></span>
                                </div>
                                <h3 class="title"><a href="news-single.html">Brooklyn Beta was the most important conferen best tristique</a></h3>
                                <a class="lgx-btn lgx-btn-white lgx-btn-sm" href="#"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn-area">
                    <a class="lgx-btn" href="news.html">View More Blogs</a>
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--News END-->
