  <!--TRAVEL INFO-->
  <section>
    <div id="lgx-travelinfo" class="lgx-travelinfo">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading">
                            <h2 class="heading">Event Information</h2>
                            <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                        </div>
                    </div>
                    <!--//main COL-->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-travelinfo-content">
                            <div class="lgx-travelinfo-single">
                                <img src="assets/img/info-icon1.png" alt="location"/>
                                <h3 class="title">Venue</h3>
                                <p class="info">Docklands Convention Centre 58 Wurundjeri Way Dablin, 3000</p>
                            </div>
                            <div class="lgx-travelinfo-single">
                                <img src="assets/img/info-icon2.png" alt="Transport"/>
                                <h3 class="title">Transport</h3>
                                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do incididunt</p>
                            </div>
                            <div class="lgx-travelinfo-single">
                                <img src="assets/img/info-icon3.png" alt="Hotel & Restaurant"/>
                                <h3 class="title">Hotel & Restaurant</h3>
                                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do incididunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</section>
<!--TRAVEL INFO END-->