<!--ABOUT-->
<section>
    <div id="lgx-about" class="lgx-about">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="lgx-about-content-area">
                            <div class="lgx-heading">
                                <h2 class="heading">Extra Life Rockies 2020</h2>
                                <h3 class="subheading">Raising Money for Alberta Children's Hospital</h3>
                            </div>
                            <div class="lgx-about-content">
                                <p class="text">
                                    Extra Life is a 24-hour game-a-thon charity event that unites thousands of gamers around the world to play games in support of their local Children's Miracle Network hospital. For over a decade, gamers from all over the world have come together to give back to those who need it the most by raising more than $50 million for sick and injured kids through Extra Life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="lgx-about-content-area" style="padding-top: 4.5rem;">
                            <div class="lgx-heading">
                                <h2 class="heading">How Can You Help?</h2>
                            </div>
                            <div class="lgx-about-content">
                                <p class="text">
                                    Extra Life is a 24-hour game-a-thon charity event that unites thousands of gamers around the world to play games in support of their local Children's Miracle Network hospital. For over a decade, gamers from all over the world have come together to give back to those who need it the most by raising more than $50 million for sick and injured kids through Extra Life.
                                </p>
                                <div class="section-btn-area">
                                    <a class="lgx-btn" href="#">Join Extra Life</a>
                                    <a class="lgx-btn lgx-btn-red lgx-scroll" href="#lgx-registration">Donate Today</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--ABOUT END-->