<!--SPONSORED-->
<section>
    <div id="lgx-sponsors" class="lgx-sponsors">
        <div class="lgx-inner-bg">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Offcial Sponsonrs</h2>
                                <h3 class="subheading">Welcome to the dedicated to building remarkable Sponsores!</h3>
                            </div>
                        </div>
                    </div>
                    <!--//main row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="sponsored-heading first-heading">Gold Sponsors</h3>
                            <div class="sponsors-area sponsors-area-nogap sponsors-area-noshadow sponsors-area-col3"> <!--sponsors-area-col3 sponsors-area-noshadow sponsors-area-nogap sponsors-area-colorfull sponsors-area-colorfull-border sponsors-area-border-->
                                <div class="single">
                                    <a class="" href="#"><img src="http://placehold.it/467x157" alt="sponsor"/></a>
                                </div>
                                <div class="single">
                                    <a class="" href="#"><img src="http://placehold.it/467x157" alt="sponsor"/></a>
                                </div>
                                <div class="single">
                                    <a class="" href="#"><img src="http://placehold.it/467x157" alt="sponsor"/></a>
                                </div>
                            </div>
                        </div>
                        <!--//col-->
                    </div>
                    <!--//row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="sponsored-heading secound-heading">Silver Sponsors</h3>
                            <div class="sponsors-area sponsors-area-noshadow sponsors-area-nogap">
                                <div class="single">
                                    <a class="" href="#"><img src="http://placehold.it/467x157" alt="sponsor"/></a>
                                </div>
                                <div class="single">
                                    <a class="" href="#"><img src="http://placehold.it/467x157" alt="sponsor"/></a>
                                </div>
                                <div class="single">
                                    <a class="" href="#"><img src="http://placehold.it/467x157" alt="sponsor"/></a>
                                </div>
                            </div>
                        </div>
                        <!--//col-->
                    </div>
                </div>
                <!--//container-->
            </div>
        </div>
        <!--//lgx-inner-->
    </div>
</section>
<!--SPONSORED END-->