<!--SCHEDULE-->
<section>
    <div id="lgx-schedule" class="lgx-schedule">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Event Schedule</h2>
                            <h3 class="subheading">Welcome to the dedicated to building remarkable Schedule!</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab">
                            <ul class="nav nav-pills lgx-nav">
                                <li class="active"><a data-toggle="pill" href="#home"><h3>First <span>Day</span></h3> <p><span>7 </span>Nov, 2020</p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3>Second <span>Day</span></h3> <p><span>8 </span>Nov, 2020</p></a></li>
                            </ul>
                            <div class="tab-content lgx-tab-content">

                                {% for item in site.data.schedule.day %}
                                <div id="{{ item.id }}" class="tab-pane fade {% if forloop.first == true %}in active{% endif %}">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                     
                                        {% for entry in item.events %}
                                        <div class="panel panel-default lgx-panel">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <div class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.parentloop.index }}{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne">
                                                        <div class="lgx-single-schedule">
                                                            <div class="author">
                                                                <img src="http://placehold.it/800x800" alt="Speaker"/>
                                                            </div>
                                                            <div class="schedule-info">
                                                                <h4 class="time">{{ entry.start }} - {{entry.end}} </h4>
                                                                <h3 class="title">{{ entry.name }}</h3>
                                                                <h4 class="author-info">By <span>{{ entry.host }}</span></h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="collapse{{ forloop.parentloop.index }}{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <p class="text">
                                                        {{ entry.description }}
                                                    </p>
                                                    <h4 class="location"><strong>Location:</strong>  {{ entry.location }} </h4>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
    </div>
</section>
<!--SCHEDULE END-->