<!--FOOTER-->
<footer>
    <div id="lgx-footer" class="lgx-footer"> <!--lgx-footer-white-->
        <div class="lgx-inner-footer">
            <div class="lgx-subscriber-area ">
                <div class="container">
                    <div class="lgx-subscriber-inner">  <!--lgx-subscriber-inner-indiv-->
                        <h3 class="subscriber-title">Join Newsletter</h3>
                        <!-- Begin Mailchimp Signup Form -->
                       
                        <div id="mc_embed_signup">
                        <form action="https://extralifyyc.us2.list-manage.com/subscribe/post?u=ee8a1d311ce971a73fe4154f6&amp;id=3429e849bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate lgx-subscribe-form" target="_blank" novalidate>
                                <div class="form-group form-group-email">
                                    <input type="email" value="" name="EMAIL" class="email form-control lgx-input-form" id="mce-EMAIL" placeholder="email address" required>
                                </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee8a1d311ce971a73fe4154f6_3429e849bc" tabindex="-1" value=""></div>
                            <div class="clear">
                                <div class="form-group form-group-submit">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button lgx-btn lgx-submit"></div>
                                </div>
                            </div>
                        </form>
                        </div>

                        <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="container">
                <div class="lgx-footer-area">
                    <div class="lgx-footer-single">
                        <a class="logo" href="index.html"><img src="assets/img/footer-logo.png" alt="Logo"></a>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Event Location </h3>
                        <h4 class="date">
                            7-8 November, 2020
                        </h4>
                        <address>
                            DISCORD.GG/
                        </address>
                    </div>
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Social Connection</h3>
                        <p class="text">
                            You should connect social area <br> for Any update
                        </p>
                        <ul class="list-inline lgx-social-footer">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!--<div class="lgx-footer-single">
                        <h2 class="footer-title">Instagram Feed</h2>
                        <div id="instafeed">
                        </div>
                    </div>-->
                </div>
                <!-- Modal-->
                <div id="lgx-modal-map" class="modal fade lgx-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="lgxmapcanvas map-canvas-default" id="map_canvas"> </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- //.Modal-->

                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <p> <span>©</span> {{ "now" | date: "%Y" }} {{ site.author }}. Built using Jekyll <a href="https://github.com/ExtraLifeYYC">by volunteers who code and game in Calgary</a>.</p>
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>
<!--FOOTER END-->