<!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
<meta property="og:type" content="website"/>
<meta property="og:image" content="assets/img/opengraph/rockies.jpg"/>
<!-- when you post this page url in facebook , this image will be shown -->
<!-- facebook open graph ends from here -->