<!-- twitter card starts from here, if you don't need remove this section -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="{{ site.twitter_username }}"/>
<meta name="twitter:creator" content="{{ site.twitter_username }}"/>
<meta name="twitter:url" content="{{ site.url }}"/>
<meta name="twitter:title" content="{{ site.title }}"/>
<!-- maximum 140 char -->
<meta name="twitter:description" content="{{ site.description | truncate: 136 }}"/>
<!-- maximum 140 char -->
<meta name="twitter:image" content="assets/img/twittercardimg/twittercard.jpg"/>
<!-- when you post this page url in twitter , this image will be shown -->
<!-- twitter card ends from here -->