<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body>
    {% include navigation.html %}
    <main class="main">
        <section class="promo-primary">
            <picture>
                <source srcset="{{ site.blog_hero_image }}" media="(min-width: 992px)"/><img class="img--bg" src="{{ site.blog_hero_image }}" alt="img"/>
            </picture>
            <div class="promo-primary__description"> <span>Headlines</span></div>
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="align-container">
                            <div class="align-container__item"><span class="promo-primary__pre-title">{{ site.blogsubtitle }}</span>
                                <h1 class="promo-primary__title"><span>{{ site.blogtitle }}</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog post start-->
        <section class="section blog-post">
            <div class="container">
                <div class="row">

                <div class="col-md-8 col-lg-9">
                    <div class="blog-post__top">
                        <div class="blog-post__img"><img class="img--bg" src="{{ page.image }}" alt="img"/></div>
                        <div class="blog-post__description">
                            <div class="row">
                                <div class="col-6"><span class="blog-post__name">{{ page.author }}</span></div>
                                <div class="col-6 text-right"><span class="blog-post__date"> {{page.date | date: "%a, %b %d, %y"}}</span><span>
                                    <svg class="icon">
                                        <use xlink:href="#comment"></use>
                                    </svg> </span></div>
                            </div>
                        </div>
                    </div>
                    <h5 class="blog-post__title">{{ page.title }}</h5>

                    {{ content }}
                    <div class="blog-post__details">
                    </div>
                    <h6 class="blog-post__title">Comments</h6>
                    <div class="comments">
                        <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://extra-life-yyc.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div></div>


    {% include blogsidebar.html %}
    
    </div>
    </div>
    </section>

        <!-- bottom bg start-->
        <section class="bottom-background background--brown">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-background__img"><img src="/assets/img/bottom-bg.png" alt="img"/></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- bottom bg end-->
    </main>
    {% include footer.html %}
</html>